<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <%= link_to image_tag("ganso.png", alt: "honky", :width => 100, :height => 100), root_path %>
    <h1>Welcome to honky</h1>

    <h2>
      This app was made by 
      <a href="https://twitter.com/ibarroladt">@ibarroladt</a>
      and its a partial copy of 
      <a href="https://twitter.com">Twitter.</a>
    </h2>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>

  <% end %>